.navbar-brand { width: 100%; max-width: 200px; height: auto;gap: }
.navbar-nav{margin-left: 35%; gap: 20px;}
.card{padding: 5px; margin: top 5px; border: none;}

.card-header ul{ justify-content: center; column-gap: 40px;}
.scroll.row{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.card{display:flex; flex-direction: column 0 0 auto;
min-width: 50%;}

.card-img-top{width: 100%; height: 250px; object-fit: cover;}
.scroll-card {height: 100%; min-width: 50%;max-width: 50%;}
.card-body .btn {margin-top: auto;}
.card-text {font-size: 14px; line-height: 1.3;}
.rating i{
  font-size: 12px;
  color: orange;}
  .card-title {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
 
  .carousel-item {height: 450px}
  .carousel-item img {height: 100%;}