.navbar-brand { width: 100%; max-width: 200px; height: auto;gap:2px; }
.navbar-nav{margin-left: 35%; gap: 20px;}
/* .card{padding: 5px; margin: top 5px; border: none;}

.card-header ul{ justify-content: center; column-gap: 40px;}
.scroll.row{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
} */


 .card-img-top{width: 100%; height: 300px; object-fit: cover;}
/*.scroll-card {height: 100%;}
.scroll-row{
  width: 100%;
} */
/* @media (min-width: 992px){
.scroll-row .card{
  flex: 0 0 25%;
  width: 25%;
  flex-shrink: 0;  
}} */
.card-body .btn {margin-top: auto;}
.card-text {font-size: 14px; line-height: 1.3;}
.rating i{
  font-size: 12px;
  color: orange;}
  .card-title {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
 
  
  .carousel-item img {height: 100%;}  
  
 
  .banner-img {
  height: 300px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .banner-img {
    height: 300px;
  }
}






/* @media (max-width: 992px){
  .card{
    flex: 0 0 calc(50% - 12px); 
  }
}

@media (max-width: 576px){
  .card{
    flex: 0 0 85%; 
  }
} */



/* cards row */
.carousel-item > div {
  gap: 12px;
}

/* desktop: 4 cards visible */
.product-card {
  flex: 0 0 25%;
}

/* mobile: 1 card visible */
@media (max-width: 767px) {
  .product-card {
    flex: 0 0 100%;
  }
}

/* image sizing */
.product-img {
  height: 160px;
  object-fit: cover;
}



.card-wrapper {
  display: flex;
  flex-wrap: nowrap;      /* ek hi row */
  overflow-x: auto;       /* horizontal scroll */
  gap: 12px;
  -webkit-overflow-scrolling: touch; /* smooth mobile scroll */
}

.card-wrapper .card {
  min-width: 250px;       /* scroll ke liye zaroori */
  flex-shrink: 0;
}



/* Desktop */
@media (min-width: 992px) {
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 cards per row */
    gap: 12px;
    overflow-x: hidden;
  }
}